@page "/note"

<PageTitle>Note</PageTitle>

<h1>Note</h1>

@*<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var forecast in forecasts)
        {
            <tr>
                <td>@forecast.Date.ToShortDateString()</td>
                <td>@forecast.TemperatureC</td>
                <td>@forecast.TemperatureF</td>
                <td>@forecast.Summary</td>
            </tr>
        }
    </tbody>
</table>*@

@code {
    protected override void OnInitialized()
    {
        //var test = httpClient.GetAsync(@"http://localhost:5181/Api/Users/GetUsers");

        var test2 = httpClient.GetFromJsonAsync<List<User>>("http://localhost:5181/Api/Users/GetUsers");


        //var request = new HttpRequestMessage(HttpMethod.Get,
            //"http://localhost:5181/Api/Users/GetUsers");
    }

    public class User
    {
        public int Id { get; set; }

        public string FirstName { get; set; }

        public string LastName { get; set; }

        public string FatherName { get; set; }

        public string Login { get; set; }
    }



}
